*{
    margin: 0px;
    padding-top:  30px;
    width:auto;
    ;
    
}
.banner-container{
   
    display: flex;
    justify-content:space-around;
    height: 100vh;
    width: 1920px;
    height: 850px;
    align-items: center;
    border: 2px solid red;
    background-color:antiquewhite;
}
.title{
    padding: 190px 20px 10px 250px;
    /* color: #272727; */
    font-size: 80px;
    /* font-family: Lato; */
    font-weight: 800;
    display: flex;
    width: 708px;
    flex-direction: column;
    flex-shrink: 0; 
}
.p-description{
    padding: 30px 250px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.btn{
    margin-left: 250px;
    padding: 10px 20px;
    background-color: rgb(199, 30, 30);
    color: white;
}
.banner-img{
    width: 635px;
    height: 800px;
    padding: 50px 242px 0px 0px;
}
.itle-text{ 
    width:50px ;
    justify-content: center;
}.f-flower{
    width: 1920px;
height: 4867px;
}
.ex{
    text-align: center;
    width: 1920px;
    height: 167px;
}
.title-ex{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.tiitle-des-ex{
    /* display: flex; */
/* width: 594px; */
/* flex-direction: column; */
/* flex-shrink: 0; */
color: rgba(39, 39, 39, 0.60);
/* text-align: center; */
/* font-family: Lato; */
font-size: 18px;
/* font-style: normal; */
/* font-weight: 400; */
/* line-height: 30px */
}
.banner-container-nd{
    width: 1922px;
    border: 2px solid red;
    height: 620px;
    flex-shrink: 0;
    border-radius: 8px;
    background-color: rgba(229, 84, 115, 0.05);
    display: flex;
    /* justify-content:space-around; */
    /* height: 100vh; */
    /* width: 1920px; */
    /* height: 850px; */
    /* align-items: center; */
    /* border: 2px solid red; */
    /* background-color:antiquewhite; */
}
.title-nd{
    padding: 155px 0px 10px 250px;
    /* color: #272727; */
    font-size: 80px;
    /* font-family: Lato; */
    color: #272727;
/* font-family: Lato; */
font-size: 40px;
/* font-style: normal; */
font-weight: 800;
/* line-height: normal; */
}
.color{
    color:rgb(229, 84, 115);
}
.p-description-nd{
    padding: 18px 250px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    /* font-family: Lato; */
    /* font-style: normal; */
}  
.banner-img-nd{
    width: 318px;
    height: 420px;
    flex-shrink: 0;
    padding: 100px 442px 100px 0px;
}
.btn-nd{
    margin-left: 450px;
    padding: 10px 20px;
    background-color: rgb(199, 30, 30);
    color: white;
}
.containet-img{
    width: 150px;
    padding: 100px250px;
    /* margin: 100px 100px ; */
    display: flex;
    flex-direction: row;
    /* justify-content:center; */
}
.box{
    padding:50px 50PX;
    gap: 10px;
    width: 650px;
    height: auto;
    margin: 0 10px;
    box-shadow: 0 0 20px rebeccapurple;
    transition: 1s;
    margin-left: 20px;
    
}
.box img{
    display:flex;
    /* width: 100px; */
    border-radius: 5px;
    

}.box:hover{
    transform: scale(1.3);
    z-index: 2;
}
.last-one{
    width: 1440px;
    height: 449px;
    flex-shrink: 0;
    /* padding:100px 250px 150px 20px ; */
    background-image: url(../image/Rectangle\ 9.png);
    background-repeat: no-repeat;
    width: 1922px;
    height: 449px;
    /* flex-shrink: 0; */
    margin: 100px 256px;
    text-align: center;
    /* background-position: center; */

}
.last-one-title{
    color: #272727;
    /* text-align: center; */
    font-family: Lato;
    font-size: 40px;
    /* font-style: normal; */
    font-weight: 800;
    /* line-height: normal; */
}
.loseb{
    display: inline;
    border: none;
    
}.email{
    padding: 15px 25px;
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
/* font-style: normal; */
font-weight: 400;
line-height: 30px;
}
.btn-nd-l-one{
    padding: 15px 5px;
    background-color:rgb(199, 30, 30);
    color: white;
}
/* foot  */
.foot{
    background-color: black;
    text-align: center;
    width: 1922px;
    height: 449px;
    flex-shrink: 0;
} 
.foot-title{
    padding: 128px 830px 10px 832px;
    color: #E55473;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.foot-descreption{
    padding: 20px 650px;
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}.foot-descreption-s{
    
    padding: 20px 128px 783px ;
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}   
        